:root {
    --clr-primary : #f8f8f2;
    --clr-title : #ff79c6; 
    --clr-subtitle: #f1fa8c;
    --clr-bg: #282a36;
    --clr-menu-link: #8be9fd; 
    --clr-slate: #f8f8f2;
    --clr-green: #50fa7b;
    --clr-error: #ff5555; 
}

body {
    background-color: var(--clr-bg);
    color : var(--clr-primary);
    font-family:  "Hack Nerd Font";
}

a {
    color : var(--clr-menu-link)
}

.navbar .nav-link {
    margin: 20px;
    text-decoration: none;
}

.active{
    color: var(--clr-slate);
    text-decoration: solid;
}

md-block {
    color : var(--clr-slate);
}

h1 {
    color : var(--clr-title);
}

h2 {
    color : var(--clr-subtitle);
}

h3 {
    color : green
}